.vinileCarrello{
	width:150px; 
	margin:100px 50px; 
	display:inline-block;
	background:linear-gradient(#808080, #333);
	border-radius: 4px;
	text-align: center;
}

.vinileCarrello img{	
	padding-bottom: 15px;
	width:80%; 
	display:block; 
	margin:0px auto; 
}

#carrello a:link, #carrello a:visited{
	color:white; 
	text-decoration: none;	
}