@charset "ISO-8859-1";

body{
	margin: 0px;
}

.contenitoreNav{
	overflow: hidden;
	background-color: #333;
	height: 15%;
	width: 100%;
}
	
.elemNav{
  text-align: center;
  float: right;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.logoNav{
	float:left;
	text-align: center;
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.contenitoreNav a.active {
  background-color: #331;
  color: white;
}


.contenitoreNav a:hover{
  background-color: #332;
  color: aqua;
} 

.contenitoreNav .icon {
  display: none;
  color: black;
}

a.icon {
    padding: 10px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
  .contenitoreNav a:not(:first-child) {display: none;}
  .contenitoreNav form:not(:first-child) {display: none;}
  .contenitoreNav a.icon  {
    float: right;
    display: block;
  }

}


	.contenitoreNav.responsive form {
	float: none;
    display: block;
    float: left;
	}
   .contenitoreNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  

@media screen and (max-width: 600px) {
  .contenitoreNav.responsive {position: relative;}
  .contenitoreNav.responsive .searchContainer {position: relative;}
  .contenitoreNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }  
}