.modal input[type=text], .modal input[type=submit], .modal select{
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit] {
  background-color: #333;
  color: white;
}

#meseP, #annoP, #cvv{
	 width: 40%;
	 text-align: center;
}